html 
    head 
        link(rel='stylesheet', type='text/css', href='/static/css/style.css')
        link(rel='icon', type='image/x-icon', href='/static/img/favicon.ico')
        title=title 
    body 
        div#navbar
            a#logo(href='/')
                img(src='/static/img/logo.png', width=60, height=40)
            div#navbar-right
                a(href='/') Home
                if isGame
                    a.active(href='/games') Games
                else
                    a(href='/games') Games

                if loggedIn
                    a(href='/accountPage') Your Account
                else 
                    a(href='/login') Login
        div#content
            if messages.length > 0
                each val in messages 
                    p.success=val
            if isAdmin && isGame
                br
                br
                button
                    a(class="button buttonTheme" href='/addGame') Add Game
            else if isAdmin && isOnUsers
                br
                br
                button
                    a(class="button buttonTheme" href='/addUser') Add User 
            br
            br
            table
                if isGame
                    tr 
                        th Name 
                        th Genre
                        th Rating 
                        th Timeline
                        if isAdmin
                            th
                            th
                else if isOnUsers
                        th Username
                        th Email
                        th User Type
                        th Last Login
                        th
                        th
                        th

                if isGame
                    each val in rows  
                        tr 
                            td
                                img(src=val.image, alt="Image cannot be found", width=240, height=135)
                                br
                                a(href='/viewGame?gameId=' + val._id) #{val.name}
                            td=val.genre 
                            td #{val.rating}/5 
                            td=val.timeline
                            if isAdmin
                                td 
                                    a(href='/editGame?gameId=' + val._id) Edit
                                td 
                                    a(href='/deleteGame?gameId=' + val._id) Delete
                else if isOnUsers 
                    each val in rows 
                        tr 
                            td=val.username 
                            td=val.email
                            td=val.userType
                            td=val.lastLogin

                            if val.isMuted 
                                td
                                    a(href='/muteUser?userId=' + val._id) Muted
                            else 
                                td
                                    a(href='/muteUser?userId=' + val._id) Unmuted

                            td 
                                a(href='/resetUser?userId=' + val._id) Reset
                            td 
                                a(href='/deleteUser?userId=' + val._id) Delete     