html 
    head 
        link(rel='stylesheet', type='text/css', href='/static/css/style.css')
        link(rel='icon', type='image/x-icon', href='/static/img/favicon.ico')
        title=title 
    body 
        div#navbar
            a#logo(href='/')
                img(src='/static/img/logo.png', width=60, height=40)
            div#navbar-right
                a(href='/') Home
                a(href='/games') Games
                if loggedIn
                    a(href='/accountPage') Your Account
                else 
                    a(href='/login') Login
        div#content
            if messages.length > 0
                each val in messages 
                    p.success=val
            h1=game.name
            img(src=game.image, alt="Image could not be found.", width=480, height=270)
            br
            br
            a.active(href='/games') Back to Games
            
            h2 Genre: #{game.genre}

            h2 Rating 
            p #{game.rating}/5

            h2 Timeline
            p=game.timeline
            h2 Review
            if game.thoughts
                p=game.thoughts
            else
                p No review available.

            h3 Discussion
            if error 
                p.error Error! #{error}

            if posts != 0
                p Please contact a moderator if you need a post deleted.
                table
                    tr 
                        th Subject 
                        th User 
                        th Post
                        
                    each val in posts 
                        tr 
                            td(style="width:200px") #{val.subject} 
                            td(style="width:200px") Post made by #{val.user} on #{val.timePosted}
                            td(style="vertical-align:middle")=val.content

            else 
                p It's too quiet here... Start the discussion!
            
            br 
            if loggedIn && muted 
                p 
                    b You have been muted due to inappropriate behaviour. Please contact an admin at muteAppeals@gamedb.com for further information.
            else if loggedIn  
                form(method="post")
                    label(for="subject") Subject
                    br
                    input(type="text", name="subject", value=subject, maxlength=50)
                    br
                    br
                    label(for="contentPost") Content:
                    br
                    textarea(id="contentPost", name="contentPost", rows="10", cols="50")
                        | #{contentPost}
                    br
                    br
                    input(type="submit" name="submit" value="Submit Post")
            else 
                p
                    b You need to be logged in to contribute to the discussion!