html 
    head 
        link(rel='stylesheet', type='text/css', href='/static/css/style.css')
        link(rel='icon', type='image/x-icon', href='/static/img/favicon.ico')
        title=title 
    body 
        div#navbar
            a#logo(href='/')
                img(src='/static/img/logo.png', width=60, height=40)
            div#navbar-right
                a(href='/') Home
                a(href='/games') Games
                a(href='/login') Login
        div#content
            h1=game.name
            a.active(href='/games') Back to Games
            
            h2 Genre: #{game.genre}

            h2 Rating 
            p #{game.rating}/5

            h2 Timeline
            p=game.timeline
            h2 Review
            if game.thoughts
                p=game.thoughts
            else
                p No review.